<div style="display: grid; place-items: center;">
    <form action="" method="post">
        <h4 class="mb-3">Please log in</h4>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" required aria-required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required aria-required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>